<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="/cadastro" method="POST">
        <input type="email" name="email" placeholder="Digite seu e-mail">
        <input type="password" name="senha" placeholder="Digite sua senha">
        <input type="password" name="confirmacaoSenha" placeholder="Confirme sua senha">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>